<!-- src/_includes/base.njk -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title >Academic Portfolio</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="assets/js/htmx.js"></script>
</head>
<body>
    <div class="outer-wrapper-style">

            {% include "layouts/header.html" %}


            {% block main %}
            {% endblock %}


            {% include "layouts/footer.html" %}

    </div>    
    <!-- This script handles only runtime interactivity -->
    <script>
        function toggleMenu() {
            document.querySelector('.sidebar-wrapper-style').classList.toggle('open');
        }

        document.addEventListener('click', (event) => {
            const link = event.target.closest('.sidebar-item-style');
            const viewBtn = event.target.closest('.btn-view');
            const downloadBtn = event.target.closest('.btn-download');
            
            /* a sidebar link was clicked most recently */
            if (link) {
                // 1. Remove 'active' from all sidebar items
                document.querySelectorAll('.sidebar-item-style').forEach(el => el.classList.remove('active'));
                // 2. Add 'active' to the clicked item
                link.classList.add('active');
            }
            
            /* a view button was clicked most recently */
            if (viewBtn) {
                window.open(viewBtn.dataset.file, '_blank');

            /* a downloadButton was click most recently */    
            } else if (downloadBtn) {
                const link = document.createElement('a');
                link.href = downloadBtn.dataset.file;
                link.download = downloadBtn.dataset.file.split('/').pop();
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        });
    </script>    
</body>
</html>
